<header>
	<h1>{{ site.project.name }}</h1>
	<p>{{ site.project.description }}</p>
	<hr>
	<p><a href="index.html" title="">Get started</a></p>
	<p><a href="demos.html" title="">Check the Demos</a></p>
	<p class="view"><a href="http://github.com/{{ site.project.user }}/{{ site.project.name }}">View on GitHub <small>{{ site.project.user }}/{{ site.project.name }}</small></a></p>
	<hr>
	<ul>
	  <li><a href="https://github.com/{{ site.project.user }}/{{ site.project.name }}/zipball/master">Download <strong>ZIP File</strong></a></li>
	  <li><a href="https://github.com/{{ site.project.user }}/{{ site.project.name }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
	  <li><a href="http://github.com/{{ site.project.user }}/{{ site.project.name }}">Fork On <strong>GitHub</strong></a></li>
	</ul>
</header>